= form_with model: @task, url: filter_tasks_path, method: :get, local: true do |form|
  = form.select :filter_option, Task.statuses.keys, selected: params[:filter_option]
  = button_tag type: "submit" do
    i.fas.fa-check
